<!-- Footer -->
<footer> 
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h3><i class="fa fa-map-marker"></i> Contact:</h3>
              <p class="footer-contact">
                  Via Ludovisi 39-45, Rome, 54267, Italy<br>
                  Phone: 1.800.245.356 Fax: 1.800.245.357<br>
                  Email: hello@LawOffice.org<br>
              </p>
          </div>
          <div class="col-md-4">
              <h3><i class="fa fa-external-link"></i> Links</h3>
              <p> <a href="#"> About ( Who we are )</a></p>
              <p> <a href="#"> Services ( What we do )</a></p>
              <p> <a href="#"> Contact ( Feel free to contact )</a></p>
              <p> <a href="#"> Blog ( Write to us )</a></p>
              <p> <a href="#"> Team ( Meet the Team )</a></p> 
          </div>
        <div class="col-md-4">
          <h3><i class="fa fa-heart"></i> Socialize</h3>
          <div id="social-icons">
              <a href="#" class="btn-group google-plus">
                  <i class="fa fa-google-plus"></i>
              </a>
                <a href="#" class="btn-group linkedin">
                  <i class="fa fa-linkedin-square"></i>
              </a>
                <a href="#" class="btn-group twitter">
                  <i class="fa fa-twitter"></i>
              </a>
                <a href="#" class="btn-group facebook">
                  <i class="fa fa-facebook"></i>
              </a>
          </div>
        </div>    
  </div>
</div>
</footer>


<div class="copyright text center">
  <p>&copy; Copyright 2014, <a href="#">Your Website Link</a>. Ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p>
</div>